<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Test Skills Home Page</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css?v={random number/string}" />
</head>
<body>
    <div class="container" ng-controller="ItemController as vm">
        <h1 class="text-center">ITEMS</h1>
        
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-info" ng-click="vm.showAll();">List All Items</button>
            <button type="button" class="btn btn-info" ng-click="vm.showHighest();">Highest Price Items</button>
           
        </div>
        
        <div ng-show="vm.data.length == 0"></div>              
        <table class="table table-striped" ng-class="hide" ng-hide="!vm.showAllItems">
            <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Item Price</th>
            </tr>
            <tr ng-repeat="item in vm.data | orderBy : 'ItemName'">
            <td>{{item.ID}}</td>
            <td>{{item.ItemName}}</td>
            <td>${{item.Price}}</td>
            </tr>
        </table>
        <p>
        </p>
        <table class="table table-striped" ng-class="hide" ng-hide="!vm.showHighestPrice">
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
            <tr ng-repeat="highestItem in vm.highestPriceData | orderBy : 'ID'">
                <td>{{highestItem.ID}}</td>
                <td>{{highestItem.ItemName}}</td>
                <td>${{highestItem.Price}}</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by item name to retrieve lowest price..." ng-model="vm.lowestItem">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.itemByLowestPrice();">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <p></p>
        <div>
            <label>Item Name: {{vm.itemByLowest.ItemName}}</label>
            <p></p>
            <label>Lowest Price: ${{vm.itemByLowest.Price}}</label>
            
        </div>
                   
    </div>
   

    <script src="https://code.jquery.com/jquery-3.2.0.slim.min.js" integrity="sha256-qLAv0kBAihcHZLI3fv3WITKeRsUX27hd6upBBa0MSow=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    

</body>
</html>
